<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User Page</title>
</head>
<body>
    <form action="submit-user" method="post">
        
        <label>Enter name: </label>
        <input type="text" placeholder="Enter your Name" name="name"/> <br><br>

        <label>Enter age: </label>
        <input type="text" placeholder="Enter your Age" name="age"/> <br><br>

        <label>Enter email Id: </label>
        <input type="text" placeholder="Enter your Email Id" name="email"/> <br><br>

        <button>Add User</button>

    </form>
</body>
</html>