<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>

    <ul>
        
        <!-- Display User Data using For loop -->

        <%  
            for (let i=0; i<users.length; i++)
            {
        %>
                <li>    
                    <%= 
                        users[i]; 
                    %>  
                </li>    
        <% 
            } 
        %>
        
        <!-- Check User is Logged in or Not -->
        
        <%
            if(isLogin)
            {
        %>
                <h1>User is Logged in.. </h1>
        <%
            }
            else
            {
        %>
                <h1>User Not Logged in.. </h1>
        <%
            }
        %>

    </ul>
</body>
</html>