h1{
    color: orange;
}

a{
    text-decoration: none;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}

a:hover{
    border-color: rgb(86, 86, 220);
}